services:
  db:
    image: postgres:16-alpine
    container_name: coding-interview-db
    environment:
      POSTGRES_DB: coding-test
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d coding-test"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
